body {background-color:black;
      font-family:arial;
      color:white
       }


h1{color:grey;
   font-family:verdana
   }

section  { display: table;   
           margin-left:10%;
           margin-right:10%   
         }
p     { display: table-row;  
      }
label { display: table-cell; 
      }

input { display: table-cell; 
     }

.maindiv {background-color:white;
          color:black;
          width:450px;
          padding:20px;
          border-radius:25px;
      }




